spring:
  application:
    name: notification-service
  config:
    activate:
      on-profile: docker

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: notification-docker-group
    properties:
      security.protocol: PLAINTEXT
      ssl.endpoint.identification.algorithm: ""

  management:
    endpoint:
      health:
        show-components: always
        group:
          readiness:
            include: kafka, diskSpace
          liveness:
            include: ping

  server:
    servlet:
      context-path: /
    shutdown: graceful

  eureka:
    client:
      service-url:
        defaultZone: http://eureka-server:8761/eureka
      enabled: true
      fetch-registry: true
      register-with-eureka: true
    instance:
      hostname: localhost
      prefer-ip-address: true