server:
  port: 8888

spring:
  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations:
            - classpath:/config/
            - file:./config/
            - file:/etc/microservices-config/
  management:
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: always
      enabled-by-default: true