server:
  port: ${SERVER_PORT:8081}

logging:
  level:
    app.controller.UserController: DEBUG
    app.services.KafkaProducerService: DEBUG
    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type: OFF
    root: ERROR

  file:
    name: ./user-service/logs/user-service.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{36} - %msg%n"

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 20
      total-size-cap: 100MB
      clean-history-on-start: true


spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5433}/${POSTGRES_DB:userdb}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:http://localhost:9092}
    consumer:
      group-id: application-group
      auto-offset-reset: earliest
    producer:
      acks: 1
      retries: 3

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  eureka:
    client:
      service-url:
        defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}
      instance:
        hostname: user-service
        prefer-ip-address: true


springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha