spring:
  application:
    name: eureka-service
  config:
    activate:
      on-profile: docker

eureka:
  instance:
    hostname: eureka-server
    prefer-ip-address: false

  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://eureka-server:8761/eureka


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
    health:
      show-details: always
      probes:
        enabled: true
  endpoint:
    health:
      show-components: always
    shutdown:
      enabled: false
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    diskspace:
      enabled: true


logging:
  level:
    org.springframework.cloud.netflix.eureka: DEBUG
    com.netflix.eureka: INFO
    org.springframework.boot.actuate.health: DEBUG
